:root {
	--goldCrayola: #efbc7c;
	--cultured: #f8f5f4;
	--raisinBlack: #291f1f;
	--darkLiver: #5f5556;
	--white: #ffffff;
	--black: #000000;

	--bg: #f8f5f4;
	--textColor: #291f1f;
	--panelColor: #ffffff;
}
[data-theme="dark"] {
	--goldCrayola: #efbc7c;
	--cultured: #f8f5f4;
	--raisinBlack: #291f1f;
	--darkLiver: #5f5556;
	--white: #ffffff;
	--black: #000000;

	--bg: #291f1f;
	--textColor: #f8f5f4;
	--panelColor: #5f5556;
}
